body {
    font-family: Arial, sans-serif;
    background-color: #1DB954;
    color: white;
    text-align: center;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 100px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1ED760;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #1DB954;
  }

  ul {
    text-align: left;
  }

  ol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  ol li {
    width: 29%;
    text-align: left;
    background-color: #000000;
    color: white;
    height: 80px;
    margin: 5px 2% 0px 2%;
    min-width: 350px;
  }
  
  #loading-screen {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1DB954;
    color: white;
    text-align: center;
    font-size: 24px;
    z-index: 9999;
  }

  #term {
    font-size: 30px;
  }